* {
    box-sizing: border-box;
}

html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-width: 340px;
}

body {
    margin: 0 auto;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    position: fixed;
    height: 4rem;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid orange;
    background-color: white;
}

header h1 {
    float: left;
    font-size: 1.6rem;
    margin-left: 1rem
}

header ul {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
}

header li {
    margin: 1rem;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: orange;
}

section {
    margin: 1rem;
    max-width: 900px;
}

.fa-brands, .fa-solid {
    font-size: 1.6rem;
}

.skill-icons {
    display: flex;
    justify-content: space-evenly;
}
